body {
  font-family: sans-serif;
  color: white;
}
.a {
  color: #fff;
  text-decoration: none;
}

.a:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.split {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #c02f1d;
}

.right {
  right: 0;
  background-color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}
